cd D:\myfile\Y2-B\Task11_RL
(
echo stable-baselines3==2.4.1
echo gymnasium==1.0.0
echo pybullet==3.2.6
echo numpy==1.24.4
echo imageio==2.35.1
echo tqdm==4.66.1
echo clearml==2.0.2
echo tensorboard==2.13.0
) > requirements.txt
